<h1 style="font-family: 'Century gothic', Arial, sans-serif; font-size:18px; color:#b7202f; font-weight:bold;">Cześć {{member.name}}!</h1>
<p style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#7f8c8d; line-height:28px;">Wyraziłeś/aś chęć wzięcia udziału w kolejnej edycji losowania prezentów Liskowych.</p>
<p style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#7f8c8d; line-height:28px;">Aby potwierdzić swój udział w losowaniu kliknij <a href="{{ url }}">tutaj</a>.</p>
